/*-------------Обнуление стилей--------*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Стили общие*/
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #000000;
    text-transform: none;
    width: 100%;
    
}

body ul{
    list-style-type: none;
    padding: 0;
}

body a{
    text-decoration: none;
}

/*---Стили для header-logo---*/
.header-logo_contacts{
    font-size: 12px;
    display: flex;
    padding: 0 12em ;
    align-items: center;
    color: #969696;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

.times-working{
    display: flex;
    margin-right: 40em;
}

.times-working ul{
    display: flex;
}

.times-working ul li{
    padding: 0 1.5em 0 1.5em;
}

.vertical-border{
    border-left: 2px solid #969696;
    border-right: 2px solid #969696;
    height: 14px;
}

.logins{
    display: flex;
    align-items: center;
}

.logins img{
    height: 20px;
    width: 16px;
}

.logins a{
    padding-left: 0.7em;
    color: #969696;
}

/*NAV*/
.container-nav{
    background-color: #0F0F0F;
    display: flex;
    padding: 0 0 0 13em ;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.nav-logo{
    margin-right: 35em;
}

.nav-logo ul{
    align-items: center;
}

.container-nav ul{
    display: flex;
    margin: 0;
}

.container-nav li{
    display: flex;
}

.nav-items a{ 
    color: #969696;
    padding: 30px 20px;
    text-transform: uppercase;
}

.nav-items a:hover{
    background-color: #1F1F1F;
    color: white;
}

.middle{
    position: relative;
    top: 33%;
    margin-left: 50px;
}

.cart{
    height: 22px;
    width: 22px;
}

/*MAIN*/
.main{
    background-image: url(/porten.github.io/img/header-img.png);
    background-size: cover;
    width: 100%;
    height: 100hv
}

.main-container{
    display: block;
    position: relative;
    height: 320px;
    width: 320px;
    border: 4px solid #FFFFFF;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.main-container img{
    padding-bottom: 0.7em;
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    display: block;
    top: 93px;
    left: 67px;
}

.main-container h1{
    text-align: center;
    position: relative;
    top: 150px;
    text-transform: uppercase;
}

.main-container h3{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    height: 96px;
    width: 730px;
    text-align: center;
    top: 321px;
    left: -208px;
    text-transform: uppercase;
}

.main-collection{
    display: flex;

}

.container-left{
    width: 55%;
}

.container-left h2{
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    text-align: center;
    margin-top: 5%;
    margin-bottom: 30px;
}

.forBorder{
    background: #fff;
    width:120px; 
    height:1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.container-left ul{
    display: flex;
    position: relative;
    left: 1.5%;
}

.aside img{
    background-color:#191B1C;
    padding: 45px 15px;
    margin: 0 40px 25px 0;
}

.aside img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.aside h4{
    font-family: Playfair Display;
    font-size: 18px;
    line-height: 21px;
}

.aside h5{
    font-family: Playfair Display;
    font-size: 16px;
    line-height: 19px;
}

.container-right{
    background-image: url(/porten.github.io/img/main-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 45%;
    padding: 0;
}

.container-right h2{
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    position: relative;
    margin-top: 55%;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container-right a:hover{
    background-color: #1F1F1F;
}

.border{
    background: #fff;
    width:120px; 
    height:1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container-right a{
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    margin: 0 auto 0 auto;
    display: table;
}

.second{
    display: flex;
}

.second-left{
    width: 45%;
}

.second-right{
    width: 65%;
}

.second-right h3{
    position: relative;
    top:15%;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.second-right h5{
    width: 470px;
    height: 170px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0 auto 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.second-right a{
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0 auto 0 auto;
    display: table;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.second-right a:hover{
    opacity: 0.5;
}

.third {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.third h3{
    margin-top: 1%;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.third-border{
    background: #fff;
    width:120px; 
    height:1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.third a{
    cursor: pointer;
}

.third img:hover{
    opacity: 0.7;
}

.third ul{
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    margin-left: 380px;
    margin-right: 380px;
}

.third img{
    background-color: #191B1C;
    padding: 15px 15px;
    margin-bottom: 17px;
    width: 230px;
    height: 230px;
}

.third-ul{
    display: block;
}

.third h4{
    color: #D0D0D0;
    font-family: Playfair Display;
    font-size: 18px;
    line-height: 21px;
}

.third h5{
    color: #D0D0D0;
    font-family: Playfair Display;
    font-size: 16px;
    line-height: 19px;
}

.four{
    background-color: #0F0F0F;
}

.four h2{
    padding-top: 5%;
    text-transform: uppercase;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.four-border{
    background: #fff;
    width:120px; 
    height:1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.four ul{
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
    padding-bottom: 70px;
}

.four img:hover{
 opacity: 0.5;
}


.container-footer{
    position: relative;
    top: -14px;
    margin-top: 0;
    display: flex;
    background-image: url(/porten.github.io/img/footer.png);
    background-size: cover;
    justify-content: space-between;
    padding: 80px 230px 0 230px;
}

.about{
    width: 34%;
}

.about span{
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.about h3{
    padding: 40px 30px 0px 0px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    height: 147px;
    width: 350px;
    text-align: left;
    margin-bottom: 100px;
}

.categor{
    width: 34%;
}

.categor span{
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.categor ul{
    padding-top: 40px;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.categor li{  
    background-color: #0F0F0F;
    padding: 0px 0px;
    margin: 0 15px 30px 0px;
}

.categor li:hover{
    background-color: #1F1F1F;
    cursor: pointer;
}
.links button:hover{
    background-color: #1F1F1F;
}

.categor h4{
    text-align: center;
    padding: 10px 20px;
    color: #D0D0D0;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.links{
    width:38%;
}

.links span{
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.links h3{
    margin: 40px 0;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

form{
    display: flex;
}

input[type=text] {
    color: #fff;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.4);;
    border:none;
    outline:none;
    height: 40px;
    width: 210px;
    padding:  0  0 0 15px;
}

::-webkit-input-placeholder {
    color: rgb(211, 208, 208);
}

form button{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    background-color: #0F0F0F;
    color: #FFFFFF;
    border:none;
    outline:none;
    padding: 10px 20px;
    align-items: center;
}

form button:hover{
    cursor: pointer;
}

#button {
    display: inline-block;
    background-color: #585858;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding: 10px 20px;
  }
  #button::after {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
